// Color palette for default theme

$white: #fff !default;
$owlcyan: #0DF4FF !default;
$yellow: #EFE23A !default;
$gray-bg: rgba(255, 255, 255, 0.1) !default;
$darkblue-bg: rgba(9, 14, 24, 0.5) !default;
